<div class="view">
  <div class="header"></div>

  <h1 class="title" *ngIf="message">{{ message }}</h1>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <div class="title-underline"></div>

  <form class="form">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <mat-form-field>
            <mat-label>Eingang von</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>DD.MM.YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <mat-form-field>
            <mat-label>System</mat-label>
            <input matInput value="MockA">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Nachrichtentyp</mat-label>
            <input matInput value="1">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
