<div>
  <p>demo-view works!</p>

  <h3 *ngIf="message">{{ message }}</h3>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <form class="example-form">

    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
