<div class="view">
  <div class="header"></div>

  <h1 class="title">Demo View</h1>
  <div class="title-underline mb-2"></div>

  <form class="form" [formGroup]="searchForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 mt-2">
          <mat-form-field appearance="outline" class="form-group">
            <mat-label>Eingang von/bis</mat-label>
            <mat-date-range-input
              [rangePicker]="eingangPicker">
              <input matStartDate placeholder="Eingang von" formControlName="eingangVon">
              <input matEndDate placeholder="Eingang bis" formControlName="eingangBis">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="eingangPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #eingangPicker></mat-date-range-picker>
            <mat-error *ngIf="(eingangVon?.hasError('required') && eingangVon?.touched) || (eingangBis?.hasError('required') && eingangBis?.touched)">
              Eingabe erforderlich.
            </mat-error>
            <mat-error *ngIf="searchForm.hasError('dateRangeInvalid')">
              Das "bis"-Datum darf nicht vor dem "von"-Datum liegen.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-2">
          <mat-form-field appearance="outline" class="form-group">
            <mat-label>System</mat-label>
            <input matInput formControlName="system">
            <button matSuffix mat-icon-button aria-label="Suchen" (click)="openSnackBar('Suchen Button clicked - 1')">
              <mat-icon>search</mat-icon>
            </button>
            <mat-error *ngIf="system?.hasError('maxlength') && system?.touched">
              Eingabe zu lang
            </mat-error>
            <mat-error *ngIf="system?.hasError('alphanumericWithSpace') && system?.touched">
              Fehlerhafte Eingabe
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="form-group">
            <mat-label>Nachrichtentyp</mat-label>
            <input matInput value="1" formControlName="nachrichtentyp">
            <button matSuffix mat-icon-button aria-label="Info" [matTooltip]="getTooltipText()" matTooltipPosition="right" matTooltipClass="tooltip">
              <mat-icon>info</mat-icon>
            </button>
            <mat-error *ngIf="nachrichtentyp?.hasError('maxlength') && nachrichtentyp?.touched">
              Eingabe zu lang
            </mat-error>
            <mat-error *ngIf="nachrichtentyp?.hasError('alphanumericWithSpace') && nachrichtentyp?.touched">
              Fehlerhafte Eingabe
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-2">
          <mat-form-field appearance="outline" class="form-group">
            <mat-label>Nummer 1</mat-label>
            <input matInput value="1" formControlName="nummer1">
            <mat-error *ngIf="nummer1?.hasError('maxlength') && nummer1?.touched">
              Eingabe zu lang
            </mat-error>
            <mat-error *ngIf="nummer1?.hasError('alphanumericWithSpace') && nummer1?.touched">
              Fehlerhafte Eingabe
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" class="form-group">
            <mat-label>Nummer 2</mat-label>
            <input matInput value="1" formControlName="nummer2">
            <mat-error *ngIf="nummer2?.hasError('maxlength') && nummer2?.touched">
              Eingabe zu lang
            </mat-error>
            <mat-error *ngIf="nummer2?.hasError('alphanumericWithSpace') && nummer2?.touched">
              Fehlerhafte Eingabe
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-2 mt-3">
          <button mat-flat-button (click)="search()" type="submit" [disabled]="searchForm.invalid">Suchen</button>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col">
        <ngx-datatable class="material"
                       [rows]="demoList"
                       [loadingIndicator]="loading"
                       [columns]="columns"
                       [headerHeight]="40"
                       [summaryRow]="false"
                       [summaryPosition]="'bottom'"
                       [footerHeight]="40"
                       [limit]="20"
                       rowHeight="auto"
                       columnMode="force"
                       [reorderable]="true"></ngx-datatable>
      </div>
    </div>
  </div>

</div>
